@model IList<GetExercises.Web.Models.Customer>
@{
    ViewBag.Title = "SearchResult";
}

<p1>Search Result</p1>
@*<form action=@Url.Action("FormResult", "Home") method=get>
    @Html.TextBox("FormResult");*@
<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Search" class="btn btn-default" />
    </div>
</div>
<p2><b>Name</b> <b>Email</b> <b>Active</b></p2>
<table>
    @foreach (var custSearch in Model)
    {
        <tr>

            <td>@custSearch.LastName </td>
            <td>@custSearch.Email </td>
            <td>@custSearch.IsActive</td>

        </tr>
    }
</table>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
@*</form>*@