@model SSGeek.Models.Product
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>SSGeek Gift Shop</h2>

<table>
    <tr>
        <td>Name</td>
        <td>Description</td>
        <td>Price</td>
        <td>Image</td>

    <tr>
        <td>@Model.Name</td>
        <td>@Model.Description</td>
        <td>@Model.Price.ToString("C")</td>

        @using (Html.BeginForm("AddToCart", "ShoppingCart", FormMethod.Post))
        {

        <td>
            @Html.Label("Quantity", "Number of items")
            @Html.TextBox("quantity")
            <form action="@Url.Action("AddToCart")" method="post">

                <button>Add to Cart</button>
            </form>
        </td>
        }
    </tr>


</table>