@model SSGeek.Models.ShoppingCart
@{
    ViewBag.Title = "Shopping Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="centeredPanel">
    <h2>Solar System Geek Gift Shop</h2>

    @if (Model.Items.Count > 0)
    {
        <table>
            <tr>
                <td></td>
                <td>Name</td>
                <td>Price</td>
                <td>Qty.</td>
                <td>Total</td>
            </tr>
            @foreach (var item in Model.Items)
            {
                <tr>
                    <td><img src="@Url.Content("~/Content/img/" + item.Product.ImageName)" /></td>
                    <td>@item.Product.Name</td>
                    <td>@item.Product.Price.ToString("C")</td>
                    <td>@item.Quantity</td>
                    <td>@item.Subtotal.ToString("C")</td>
                </tr>
            }
            <tr>
                <td>Total</td>
                <td>@Model.Total.ToString("C")
            </tr>
            <tr>
                <td></td>
                <td>@Html.ActionLink("Checkout", "Index", "ShoppingCart")</td>
            </tr>
        </table>


    }
    else
    {
        <p>Cart is empty</p>
    }
</section>